.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: white;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.play_button{
 width: 130px;
 font-size: 25px;
}

canvas{
    border: 5px dashed white;
    border-radius: 45px;
    margin-bottom: 95px;
}